/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */
.post-footer .share {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 140px
}

.post-footer .share .react-share__ShareButton {
    min-height: 0;
    cursor: pointer;
    margin: 0.8rem
}

/* ==========================================================================
   13. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .post-footer .share {
        position: static;
        width: auto
    }

    .post-footer .share a {
        margin: 1.4rem 0.8rem 0
    }
}
