.read-next {
    display: flex;
    align-items: stretch;
    margin-top: 10rem
}

.read-next-story {
    display: flex;
    flex-grow: 1;
    min-width: 50%;
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden
}

.read-next-story::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease
}

.read-next-story:hover::before {
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease
}

.read-next-story .post {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.read-next-story .post::before {
    content: "Read This Next";
    padding: 4px 10px 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 4px;
    transition: all 0.5s ease
}

.read-next-story.prev .post::before {
    content: "You Might Enjoy"
}

.read-next-story h2 {
    margin-top: 1rem;
    color: #eff0f1
}

.read-next-story p {
    margin: 0;
    color: rgba(255, 255, 255 0.8)
}

/* Special styles for posts with no cover images */
.read-next-story.no-cover {
    background: #31363b
}

.read-next-story.no-cover::before {
    display: none
}

.read-next-story.no-cover .post::before {
    color: #eff0f1;
    border-color: #bdc3c7
}

.read-next-story:hover .post::before {
    color: #222;
    background: #bdc3c7;
    transition: all 0.2s ease
}

.read-next-story.no-cover h2 {
    color: #eff0f1
}

.read-next-story.no-cover p {
    color: #eff0f1
}

/* if there are two posts without covers, put a border between them */
.read-next-story.no-cover + .read-next-story.no-cover {
    border-left: rgba(0, 0, 100, 0.04) 1px solid;
    box-sizing: border-box
}

/* Correctly position site-footer when next to the .read-next container */
.read-next + .site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0
}

/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .read-next {
        flex-direction: column;
        margin-top: 4rem
    }

    .read-next p {
        display: none
    }

    .read-next-story.no-cover + .read-next-story.no-cover {
        border-top: rgba(0, 0, 100, 0.06) 1px solid;
        border-left: none
    }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .read-next {
        margin-top: 2rem;
        margin-bottom: -37px
    }

    .read-next .post {
        width: 100%
    }
}
