.author-image {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    background: transparent;
    border: 6px solid #fff;
    z-index: 2;
    box-shadow: 0 20px 60px #0a0a0a0d, 0 5px 10px #0a0a0a1a, 0 1px 1px #0a0a0a33
}

.author-image .img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 100%
}

.author-profile .author-image {
    position: relative;
    left: auto;
    top: auto;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    box-shadow: none;
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .post-footer .author-image {
        top: -60px
    }

    .author-profile .author-image {
        margin-top: -70px
    }
}
