.social-media-icons {
    text-align: center;
    margin: 0
}

.social-media-icons .social-svg {
    text-align: center;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-property: color, background-color, border-color
}

.social-media-icon {
    display: inline-block;
    margin: 1.6rem 1rem 0;
    width: 50px;
    height: 50px
}

/* Add subtle load-in animation for content on the home page */
.main-header .social-media-icon {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}

.main-header .social-media-icon .social-svg {
    color: #232629;
    border: 1px solid #febabc;
    box-sizing: border-box
}

.main-header .social-media-icon .social-svg:hover {
    color: #232629;
    border-color: #232629
}

.main-header .social-media-icon[href*="github.com"] .social-svg:hover {
    color: #4183c4;
    border-color: #4183c4
}

.main-header .social-media-icon[href*="twitter.com"] .social-svg:hover {
    color: #00aced;
    border-color: #00aced
}

.main-header .social-media-icon[href*="reddit.com"] .social-svg:hover {
    color: #ff4500;
    border-color: #ff4500
}

.main-header .social-media-icon[href*="spotify.com"] .social-svg:hover {
    color: #2ebd59;
    border-color: #2ebd59
}

.main-header .social-media-icon[href*="mailto:"] .social-svg:hover {
    color: #7f7f7f;
    border-color: #7f7f7f
}

.main-header .social-media-icons .social-svg .social-svg-icon {
    fill: #febabc !important
}

.main-header .social-media-icons .social-svg:hover .social-svg-icon {
    fill: #232629 !important
}

/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .social-media-icon {
        display: inline-block;
        margin: 1.4rem 0.9rem 0;
        width: 40px;
        height: 40px
    }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .social-media-icon {
        display: inline-block;
        margin: 1.2rem 0.8rem 0;
        width: 35px;
        height: 35px
    }
}
